@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap'");

body {
    font-family: "Shantell Sans", cursive;
    min-height: 98vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #202124;
        color: white;
    }
}

@media (min-width: 650px) {
    nav {
        display: flex;
        justify-content: space-around;
    }
}

@media (max-width: 650px) {
    nav {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

nav .nav {
    display: flex;
    justify-items: center;
    align-items: center;
}

@media (prefers-color-scheme: light) {
    nav .nav > a {
        margin: 5px;
        color: black;
        transition: 0.3s;
    }
}

@media (prefers-color-scheme: dark) {
    nav .nav > a {
        margin: 5px;
        color: white;
        transition: 0.3s;
    }
}

nav .nav > a:hover {
    text-decoration: underline;
}

@media (prefers-color-scheme: light) {
    nav .logo {
        color: black;
    }
    
    nav .logo:hover {
        color: black;
    }
}

@media (prefers-color-scheme: dark) {
    nav .logo {
        color: white;
    }
    
    nav .logo:hover {
        color: white;
    }
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 650px) {
    .hero .content {
        display: grid; 
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        gap: 40px;
        max-width: 80vw;
        padding: 10px;
    }

    .sausage {
        max-width: 40vw;
    }
}

@media (max-width: 650px) {
    .hero .content {
        height: 100%;
        padding: 10px;
    }

    .sausage {
        max-width: 100%;
    }
}

.centered {
    text-align: center;
}

a {
    color: #2E86C1;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: #1F618D;
}

footer {
    text-align: center;
}
